<% include ../partials/header.ejs %>

<div class="viewport-container pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 ml-md-auto mr-md-auto text-center">
                <div class="card mt-3">
                    <div class="card-header text-light bg-success">
                        <h3 class="mb-0"><%= strain.name %></h3>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">created <%= strain.createdFromNow() %></h6>
                        
                        <p class="card-text">
                            <%= strain.description %>
                        </p>

                        <div class="row">
                            <div class="col text-right">
                                Grow Difficulty:
                            </div><!--.col -->
                            <div class="col text-left text-capitalize">
                                <%= strain.growDifficulty %>
                            </div><!--.col -->
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col text-right">
                                Average Height:
                            </div><!--.col -->
                            <div class="col text-left">
                                <%= strain.averageGrowHeight %> 
                            </div><!--.col -->
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col text-right">
                                Average Yield:
                            </div><!--.col -->
                            <div class="col text-left">
                                <%= strain.averageYield %> g/m<sup>2</sup> 
                            </div><!--.col -->
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col text-right">
                                Average Flowering Time:
                            </div><!--.col -->
                            <div class="col text-left">
                                <%= strain.averageFloweringTime %> weeks 
                            </div><!--.col -->
                        </div><!-- .row -->

                    </div><!-- .card-body -->
                    <% if(user.isAdmin){ %>
                        <ul class="list-group list-group-flush">
                            <a href="/strains/<%= strain._id %>/edit" class="list-group-item list-group-item-action text-light bg-primary">
                                <i class="fa fa-lg fa-edit"></i>&nbsp;&nbsp;
                                Edit Strain
                            </a>                        
                        </ul>
                    <% } %>           
                </div><!-- .card -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12 col-md-6 ml-md-auto mr-md-auto text-center">
                <div class="card mt-5">
                    <div class="card-header text-light bg-primary">
                        <h3 class="mb-0">Comments</h3>
                    </div>
                    <% if(comments.length > 0){ %>
                        <% comments.forEach((comment) => { %>
                            <div class="card-body">
                                <h4 class="card-title"><%= comment.user.local.username %></h4>
                                <h6 class="card-subtitle text-muted mb-2"><%= comment.createdFromNow() %></h6>
                                <p class="card-text"><%= comment.content %></p>
                            </div><!-- .card-body -->
                        <% }); %>
                    <% } else { %>
                        <div class="card-body">
                            <p class="card-text">
                                There are no comments for this Strain.
                            </p>
                        </div><!-- .card-body -->
                    <% } %>
                </div><!-- .card -->    
            </div><!-- .col -->
        </div><!-- .row --> 


        <div class="row">
            <div class="col-12 col-md-6 ml-md-auto mr-md-auto text-center">
                <div class="card mt-5">
                    <div class="card-header text-light bg-primary">
                        <h3 class="mb-0">Leave A Comment</h3>
                    </div>

                    <% if(isLoggedIn){ %>
                        <div class="card-body">
                            <form action="/strains/<%= strain._id %>/leave-comment" method="post">
                                <div class="form-group">
                                    <textarea name="content" class="form-control" rows="5"></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                                </div>
                            </form>
                        </div><!-- .card-body -->
                    <% } else { %>
                        <div class="card-body">
                            <p class="card-text">You must be signed in to leave a Comment.</p>
                        </div><!-- .card-body -->
                    <% } %>
                </div><!-- .card -->    
            </div><!-- .col -->
        </div><!-- .row --> 

    </div><!-- .container-fluid -->            
</div><!-- .viewport-container -->


<% include ../partials/footer.ejs %>