<% include ../partials/header.ejs %>

<div class="viewport-container pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 ml-md-auto mr-md-auto text-center">
                <div class="card text-light bg-success mt-3">
                    <div class="card-body">
                        <h3 class="card-title"><%= strain.name %></h3>
                        <h6 class="card-subtitle mb-2">created <%= strain.createdFromNow() %></h6>
                        
                        <p class="card-text">
                            <%= strain.description %>
                        </p>

                        <div class="row">
                            <div class="col text-right">
                                Grow Difficulty:
                            </div><!--.col -->
                            <div class="col text-left text-capitalize">
                                <%= strain.growDifficulty %>
                            </div><!--.col -->
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col text-right">
                                Average Height:
                            </div><!--.col -->
                            <div class="col text-left">
                                <%= strain.averageGrowHeight %> 
                            </div><!--.col -->
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col text-right">
                                Average Yield:
                            </div><!--.col -->
                            <div class="col text-left">
                                <%= strain.averageYield %> g/m<sup>2</sup> 
                            </div><!--.col -->
                        </div><!-- .row -->

                        <div class="row">
                            <div class="col text-right">
                                Average Flowering Time:
                            </div><!--.col -->
                            <div class="col text-left">
                                <%= strain.averageFloweringTime %> weeks 
                            </div><!--.col -->
                        </div><!-- .row -->

                    </div><!-- .card-body -->
                    <% if(user.isAdmin){ %>
                        <ul class="list-group list-group-flush">
                            <a href="/strains/<%= strain._id %>/edit" class="list-group-item list-group-item-action text-light bg-primary">
                                <i class="fa fa-lg fa-edit"></i>&nbsp;&nbsp;
                                Edit Strain
                            </a>                        
                        </ul>
                    <% } %>           
                </div><!-- .card -->
            </div><!-- .col -->
        </div><!-- .row -->    
    </div><!-- .container-fluid -->            
</div><!-- .viewport-container -->


<% include ../partials/footer.ejs %>